@inject Microsoft.FeatureManagement.IFeatureManager FeatureManager

@if (await FeatureManager.IsEnabledAsync("AD"))
{
    <div class="text-center">
        <h1 class="display-4">I am AD Block!</h1>
    </div>
}

<feature name="AD">
    <div class="text-center">
        <h1 class="display-4">I am AD Block By TagHelper!</h1>
    </div>
</feature>